.container {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    width: 213px;
}

.titleWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.filterIconWrapper {
    height: 24px;
    width: 24px;
}

.filterIconWrapper img {
    height: 100%;
    width: 100%;
}

.filterText {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 30px;
    color: #742021;
    margin-left: 16px;
    margin-right: 24px;
}

.dropdown {
    position: relative;
    /* margin-top: 24px; */
}

.rotateImage {
    transform: rotate(180deg);
}

.checkboxes {
    padding: 10px 10px 10px 5px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, visibility 0s linear 0.3s, opacity 0.3s ease;
}

.show {
    display: flex;
    flex-direction: column;
    max-height: 288px;
    visibility: visible;
    opacity: 1;
    transition: max-height 0.7s ease, visibility 0s linear 0s, opacity 0.3s ease;
}

.optionButton {
    height: 120px;
    margin-bottom: 12px;
    border: none;
    background-color: white;
    color: #742021;
    font-size: 16px;
    user-select: none;
    text-align: left;
    padding: 8px;
}

.optionButton:hover {
    background-color: #EDDDDD;
    padding: 8px;
    border-radius: 8px;
}

.selected {
    background-color: #EDDDDD;
    border-radius: 8px;
}

@media screen and (max-width: 768px) {
    .show {
        border-bottom: 1px solid #742021;
    }

    .container {
        margin-left: 0;
    }
}