.container {
    width: 100%;
    margin-top: 32px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.helperDiv {
    width: 100px;
}

.resultBlock {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: 'Merriweather', serif;
    color: #D3CFCF;
    width: 200px;
}

.searchContainer {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #0d8041;
}

.searchInput {
    width: 400px;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    padding: 12px;
    transition: width 0.3s, opacity 0.3s;

    font-size: 16px;
    font-family: 'Merriweather', serif;
}

.searchIcon {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 12px;
}

.clearIcon {
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 16px;
    height: 16px;
    filter: invert(98%) sepia(1%) saturate(950%) hue-rotate(314deg) brightness(98%) contrast(69%);
}

.filters {
    margin-left: auto;
}

.helperDiv {
    display: flex;
    align-items: center;
    background-color: #D3CFCF;
    width: 100px;
    border-radius: 16px;
    position: relative;
    padding: 8px;
    transition: background-color 0.2s ease;
}

.helperDiv:active {
    background-color: #555;
}

.helperDiv p {
    width: 80%;
    overflow: hidden;
}

.closeImg {
    cursor: pointer;
    position: absolute;
    height: 12px;
    width: 12px;
    right: 9px;
}

.dNone {
    width: 100px;
    padding: 8px;
    opacity: 0;
}

.rightWrapper {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
}

.iconViewWrapper {
    display: flex;
    align-items: center;
}

.viewIcon {
    height: 20px;
    cursor: pointer;
    filter: invert(74%) sepia(65%) saturate(0%) hue-rotate(195deg) brightness(109%) contrast(86%);
}

.viewIconActive {
    filter: invert(31%) sepia(61%) saturate(7492%) hue-rotate(146deg) brightness(88%) contrast(90%);
    height: 20px;
    cursor: pointer;
}

.viewIconActive:first-child {
    margin-right: 8px;
}

.viewIcon:first-child {
    margin-right: 8px;
}

.filterWrapper {
    display: none;
}

.filtersButton {
    display: flex;
    align-items: center;
    background-color: #0d8041;
    height: 36px;
    width: 164px;
    justify-content: center;
    border-radius: 10px;
}

.filtersButton img {
    height: 12px;
    filter: invert(100%) sepia(6%) saturate(281%) hue-rotate(230deg) brightness(114%) contrast(92%);
}

.filtersButton p {
    margin-left: 8px;
    color: #f5f5f5;
    font-size: 14px;
    font-family: 'Merriweather', serif;
}

@media screen and (max-width: 768px) {
    .searchInput {
        width: 150px;
    }

    .helperDiv {
        display: none;
    }

    .resultBlock p {
        width: 125px;
    }

    .rightWrapper {
        display: none;
    }

    .resultBlock {
        display: none;
    }

    .filterWrapper {
        display: block;
    }
}