/* ProductHeaderFilters.module.css */
.container {
    width: 100%;
    margin-top: 32px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.helperDiv {
    width: 100px;
}

.resultBlock {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: 'Merriweather', serif;
    color: #D3CFCF;
}

.searchContainer {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #742021;
}

.searchInput {
    width: 400px;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    padding: 15px;
    transition: width 0.3s, opacity 0.3s;

    font-size: 16px;
    font-family: 'Merriweather', serif;
}

.searchIcon {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 15px;
}

.filters {
    margin-left: auto;
}

.helperDiv {
    display: flex;
    align-items: center;
    background-color: #D3CFCF;
    width: 100px;
    border-radius: 16px;
    position: relative;
    padding: 8px;
    height: 20px;
    transition: background-color 0.2s ease;
}

.helperDiv:active {
    background-color: #555;
    /* Темний колір для затемнення під час натискання */
}

.helperDiv p {
    width: 80%;
    overflow: hidden;
}

.closeImg {
    cursor: pointer;
    position: absolute;
    height: 12px;
    width: 12px;
    right: 9px;
}

.dNone {
    width: 100px;
    padding: 8px;
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .searchInput {
        width: 184px;
    }

    .helperDiv {
        display: none;
    }

    .resultBlock p {
        width: 125px;
    }
}