.container {
    margin-top: 16px;
    width: 100%;
}

.imageWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.fermerBtn,
.oneBtn {
    text-decoration: none;
}

.fermerBtn {

    width: 290px;
    display: inline-flex;
    padding: 8px 0px 8px 0px;
    justify-content: center;
    align-items: center;
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #742021;

    border-radius: 10px;
    border: 1px solid #742021;

    background: #FFF;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: color 0.3s, background-color 0.3s;
}

.fermerBtn:hover {
    color: #FFF;
    background-color: #742021;
}

.oneBtn {
    width: 290px;
    display: inline-flex;
    padding: 8px 0px 8px 0px;
    justify-content: center;
    align-items: center;
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;

    border-radius: 10px;
    border: 1px solid #000;

    background: #742021;
    cursor: pointer;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 58px;
    transition: color 0.3s, background-color 0.3s;
}

.oneBtn:hover {
    color: #742021;
    background-color: #fff;
}

.fLineWrapper {
    width: 240px;
    position: absolute;
    top: 87px;
    left: 0;
}

.sLineWrapper {
    width: 240px;
    position: absolute;
    bottom: 87px;
    left: 45px;
}

.lineImg {
    height: 100%;
    width: 100%;
}

.tLineWrapper {
    width: 240px;
    position: absolute;
    top: 87px;
    right: 0;
}

.fourthLineWrapper {
    width: 240px;
    position: absolute;
    bottom: 87px;
    right: 45px;
}

@media screen and (max-width: 1412px) {
    .sLineWrapper {
        display: none;
    }

    .lineImg {
        display: none;
    }

    .tLineWrapper {
        display: none;
    }

    .fourthLineWrapper {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .imageWrapper {
        flex-direction: column;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .fermerBtn {
        width: 240px;
        padding: 8px 8px 11px 24px;
        font-size: 18px;
    }

    .oneBtn {
        width: 240px;
        padding: 8px 8px 11px 24px;
        font-size: 18px;
        margin-left: 0;
        margin-top: 25px;
    }
}