.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.menuIcon {
    cursor: pointer;
    top: 20px;
    position: absolute;
    left: 0;
    /* z-index: 10; */
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin-right: 16px;
    border-radius: 50%;
    background: radial-gradient(ellipse farthest-corner at right bottom,
            #742021 0%,
            #742021 8%,
            #742021 30%,
            #742021 40%,
            transparent 80%),
        radial-gradient(ellipse farthest-corner at left top,
            #742021 0%,
            #742021 8%,
            #742021 25%,
            #742021 62.5%,
            #742021 100%);
}

.infoWrapper {
    display: flex;
    align-items: center;
    margin-top: 64px;
}

.imgWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productName {
    font-size: 24px;
    color: rgba(116, 32, 33, 1);
    font-family: 'Merriweather', serif;
}

.titleWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.notAvailable {
    font-size: 16px;
    color: white;
    font-family: 'Merriweather', serif;
    background-color: rgba(116, 32, 33, 1);
    border-radius: 10px;
    padding: 4px;
    margin-top: 8px;
}

.imgWrapper img {
    height: 500px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.buyButton {
    margin-bottom: 12px;
    font-size: 14px;
    font-family: 'Merriweather', serif;
    color: white;
    background-color: #742021;
    height: 30px;
    width: 120px;
    border-radius: 10px;
}

.buyButtonAdded {
    margin-bottom: 12px;
    font-size: 14px;
    font-family: 'Merriweather', serif;
    color: #742021;
    border: 1px solid #742021;
    height: 30px;
    width: 120px;
    border-radius: 10px;
}


.description {
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}

.descriptionText {
    font-size: 18px;
    font-family: 'Merriweather';
}

.descriptionText {
    margin-top: 12px;
    font-weight: bold;
}

.descriptionText span {
    font-weight: 300;
    margin-left: 8px;
}

.advantages {
    margin-top: 32px;
    margin-bottom: 32px;
}

.advantages p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #742021;
    text-align: center;
}

.advantages ul {
    list-style: none;
}

.advantages li {
    font-size: 18px;
    line-height: 1.6;
    color: black;
    margin-bottom: 10px;
}

.advantages li:before {
    content: '\2022';
    color: #742021;
    font-size: 20px;
    margin-right: 10px;
}

.use {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.useTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #742021;
    text-align: center;
}

.tableImg {
    width: 100%;
    margin-top: 16px;
}

.bodyGrey {
    background-color: gray;
}

.closeBtnWrapper {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #742021;
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.closeIcon {
    height: 18px;
    width: 18px;
    padding: 4px;
    filter: invert(99%) sepia(97%) saturate(11%) hue-rotate(201deg) brightness(104%) contrast(100%);
}

@media screen and (max-width: 855px) {
    .titleWrapper {
        flex-direction: column;
    }

    .infoWrapper {
        flex-direction: column;
    }

    .description {
        margin-left: 0;
        margin-top: 32px;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 552px) {
    .imgWrapper img {
        height: 300px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
}