.productCard {
    max-width: 200px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.productCardListStyle {
    position: relative;
    display: flex;
    width: 100%;
}

.productCardListStyle:not(:first-child) {
    margin-top: 12px;
}

.productCardListStyle .productName {
    text-align: center;
}

.productCardListStyle .imageWrapper {
    margin-top: 0;
    max-width: 30%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.productCardListStyle:hover {
    background-color: #EDDDDD;
    border-radius: 10px;
    transition: 1s;
    box-sizing: border-box;
}

.notAvailable {
    max-width: 200px;
    /* max-height: 390px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    opacity: 0.5;
    cursor: no-drop;
}

.notAvailableList {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    opacity: 0.5;
    cursor: no-drop;
}

.notAvailableMessage {
    position: absolute;
    right: 0;
}

.notAvailable .imageWrapper img:hover {
    cursor: no-drop;
}

.notAvailable .productName:hover {
    cursor: no-drop;
    text-decoration: none;
}

.notAvailable .buyButton {
    cursor: no-drop;
}

.productCard:hover {
    background-color: #ddeddf;
    border-radius: 10px;
    transition: 1s;
    box-sizing: border-box;
}

/* .imageWrapper {
    height: 200px;
    margin-top: 12px;
} */

/* .imageWrapper img {
    height: 100%;
    width: 100%; */
/* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
/* } */

.productImg {
    height: 200px;
}

.imageWrapper img:hover {
    cursor: pointer;
}

.textStyleGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textStyleList {
    position: relative;
    /* background-color: aquamarine; */
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textStyleList .productName {
    vertical-align: center;
}

.productName {
    margin-top: 24px;
    font-family: 'Merriweather', serif;
    text-align: center;
    line-height: 30px;
}

.productName:hover {
    text-decoration: underline;
    cursor: pointer;
}

.chemistryType {
    font-size: 12px;
    font-family: 'Merriweather', serif;
    color: grey;
    margin-top: 12px;
    margin-bottom: 16px;
    text-align: center;
}

.price {
    font-size: 14px;
    font-family: 'Merriweather', serif;
    margin-bottom: 12px;
}

.buyButton {
    margin-bottom: 12px;
    font-size: 14px;
    font-family: 'Merriweather', serif;
    color: white;
    /* font-weight: bold; */
    background-color: #0d8041;
    height: 30px;
    width: 120px;
    border-radius: 10px;
}

.buyButtonAdded {
    margin-bottom: 12px;
    font-size: 14px;
    font-family: 'Merriweather', serif;
    color: #0d8041;
    /* font-weight: bold; */
    border: 1px solid #0d8041;
    height: 30px;
    width: 120px;
    border-radius: 10px;
}

.link {
    text-decoration: none;
    color: black;
    text-align: center;
}

.notification {
    position: absolute;
    background-color: red;
    color: white;
    font-size: 14px;
    font-family: 'Merriweather', serif;
    padding: 4px;
    top: 0px;
}

@media screen and (max-width: 768px) {
    .productWrapper {
        flex-direction: column;
    }

    .productCard {
        width: 171px;
    }

    .productImg {
        height: 120px;
    }
}