.container {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    width: 213px;
    position: relative;
}

.titleWrapper {
    display: flex;
    align-items: center;
    user-select: none;
}

.filterIconWrapper {
    height: 24px;
    width: 24px;
}

.filterIconWrapper img {
    height: 100%;
    width: 100%;
}

.filterText {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 30px;
    color: #742021;
    margin-left: 16px;
    margin-right: 24px;
}

.dropdown {
    position: relative;
    margin-top: 24px;
}

.filterTitleWrapper {
    display: flex;
    align-items: baseline;
}

.arrowWrapper {
    height: 14px;
    width: 14px;
}

.arrowWrapper img {
    height: 100%;
    width: 100%;
}

.rotateImage {
    transform: rotate(180deg);
}

.title {
    cursor: pointer;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 24px;
    color: #742021;
    margin-left: 16px;
}

.checkboxes {
    padding: 10px 10px 10px 5px;
    background-color: #fff;
    overflow: hidden;
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, visibility 0s linear 0.3s, opacity 0.3s ease;
}

.show {
    border-bottom: 1px solid #742021;
    max-height: 295px;
    visibility: visible;
    opacity: 1;
    background-color: #f5f5f5;
    transition: max-height 0.7s ease, visibility 0s linear 0s, opacity 0.3s ease;
}

.checkboxWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
}

.checkboxWrapper p {
    margin-left: 12px;
    color: #742021;
    font-size: 16px;
    user-select: none;
}

input[type='checkbox'] {
    width: 14px !important;
    height: 14px !important;
    margin: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: 1px solid gray;
    box-shadow: none;
    font-size: 0.8em;
    text-align: center;
    line-height: 1em;
}

input[type='checkbox']:checked:after {
    content: '✔';
    color: #742021;
}

.resetButton {
    background-color: #742021;
    font-family: 'Merriweather', serif;
    color: #fff;
    font-size: 12px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin-top: 12px;
    margin-bottom: 12px;
    /* width: 80%; */
}

.resetButton:active {
    background-color: #8d2a29;
    cursor: pointer;
}

.buttonWrapper {
    display: flex;
    align-items: center;
}

.showButton {
    display: none;
}

.titleWrapper .buttonWrapper {
    display: none;
}

.topWrapper .arrowBack {
    display: none;
}

.topWrapper {
    display: flex;
    align-items: center;
}

.showResultWrapper {
    display: none;
}

@media screen and (max-width: 768px) {
    input[type='checkbox'] {
        font-size: 0.6em;
    }

    .arrowBack {
        transform: rotate(90deg);
        height: 8px;
        filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(100%) contrast(107%);
    }

    .filterIconWrapper {
        display: none;
    }

    .titleWrapper {
        margin-top: 12px;
        border-bottom: 1px solid grey;
        justify-content: space-between;
    }

    .titleWrapper .buttonWrapper .resetButton {
        padding: 4px 4px;
        width: auto;
        margin-right: 8px;
    }

    .titleWrapper .buttonWrapper {
        display: block;
    }

    .topWrapper .arrowBack {
        display: block;
    }

    .filterText {
        margin-left: 12px;
    }

    .showButton {
        display: block;
    }

    .container {
        margin: 0;
        width: auto;
        margin-left: 8px;
        height: 80%;
        overflow: auto;
    }

    .showResultWrapper {
        min-height: 50px;
        padding: 12px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid #d3cfcf;
        background-color: white;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 3;
    }

    .showResultWrapper p {
        padding-top: 12px;
    }

    .show {
        background-color: white;
    }
}