.wrapper {
  width: 100%;
  height: 100vh;
}

.main {
  width: 90%;
  margin: 0 auto;
}

.footerWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer {
  width: 100%;
  height: 20px;
  background-color: aqua;
}