@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    background-color: #742021;
    z-index: 2;
    /* Додаткові стилі для оформлення footer */
}